absl-py==2.1.0
accelerate==0.30.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.9.5
aiomysql==0.2.0
aiosignal==1.3.1
alembic==1.13.1
aniso8601==9.0.1
annotated-types==0.6.0
anthropic==0.34.2
anyio==4.4.0
APScheduler==3.10.4
arabic-reshaper==3.0.0
argcomplete==3.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.6.0
asn1crypto==1.5.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
asyncmy==0.2.9
asyncpg==0.29.0
attrs==23.1.0
Authlib==1.3.2
autoflake==2.3.1
av==12.3.0
azure-ai-inference==1.0.0b4
azure-ai-ml==1.15.0
azure-common==1.1.28
azure-core==1.30.1
azure-cosmos==4.6.0
azure-data-tables==12.5.0
azure-identity==1.16.0
azure-mgmt-core==1.4.0
azure-monitor-opentelemetry-exporter==1.0.0b25
azure-storage-blob==12.20.0
azure-storage-file-datalake==12.15.0
azure-storage-file-share==12.16.0
babel==2.16.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
bing-chat==1.9.2
BingImageCreator==0.5.0
black==24.4.2
bleach==6.2.0
blinker==1.6.3
blis==1.0.1
boltons @ file:///C:/ci_311/boltons_1677729932371/work
boto3==1.35.0
botocore==1.35.20
brotlipy==0.7.0
build==1.2.2
cachetools==5.3.3
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///C:/ci_311/cffi_1676423759166/work
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.5.5
click==8.1.7
cloudpathlib==0.20.0
colorama @ file:///C:/ci_311/colorama_1676422310965/work
colorclass==2.2.2
coloredlogs==15.0.1
comm==0.2.2
compressed-rtf==1.0.6
conda @ file:///C:/b/abs_b5q92oum8h/croot/conda_1689272261421/work
conda-content-trust @ file:///C:/ci_311/conda-content-trust_1676467587370/work
conda-libmamba-solver @ file:///C:/b/abs_5a9xvt2a3k/croot/conda-libmamba-solver_1685032355900/work/src
conda-package-handling @ file:///C:/b/abs_ce4_vcfd0y/croot/conda-package-handling_1685024800103/work
conda_package_streaming @ file:///C:/b/abs_88a7k_wmm1/croot/conda-package-streaming_1685019697115/work
confection==0.1.5
crispy-bootstrap5==0.7
cryptography==43.0.1
cssselect2==0.7.0
ctranslate2==4.4.0
cymem==2.0.8
dataclasses-json==0.6.4
debugpy==1.8.9
decorator==5.1.1
deepdiff==8.0.1
defusedxml==0.7.1
Deprecated==1.2.14
dirtyjson==1.0.8
distlib==0.3.7
distro==1.9.0
Django==4.1.6
django-crispy-forms==1.14.0
dnspython==2.6.1
docker==7.1.0
docutils==0.21.2
docx2txt==0.8
duckduckgo_search==6.2.11
easygui==0.98.3
ebcdic==1.1.1
ecdsa==0.19.0
email_validator==2.1.1
emoji==2.12.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et-xmlfile==1.1.0
executing==2.1.0
extract-msg==0.49.0
fake-useragent==1.5.1
fastapi==0.111.0
fastapi-cli==0.0.3
faster-whisper==1.0.3
fastjsonschema==2.20.0
filelock==3.12.4
filetype==1.2.0
fixedint==0.1.6
Flask==3.0.3
Flask-Cors==5.0.0
flask-restx==1.3.0
flatbuffers==24.3.25
fonttools==4.53.1
fpdf2==2.7.9
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.3.1
ftfy==6.2.0
gemmi==0.6.4
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
google_search_results==2.4.1
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpcio==1.63.0
grpcio-status==1.62.2
gunicorn==22.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
idna==3.10
importlib-metadata==7.0.0
importlib_resources==6.4.0
iniconfig==2.0.0
install==1.3.5
intel-openmp==2021.4.0
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jedi==0.19.2
Jinja2==3.1.2
jiter==0.5.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.28
jsonify==0.5
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keyring==24.3.1
kubernetes==30.1.0
langchain==0.2.15
langchain-chroma==0.1.2
langchain-community==0.2.12
langchain-core==0.2.40
langchain-text-splitters==0.2.4
langcodes==3.4.1
langdetect==1.0.9
langfuse==2.44.0
langsmith==0.1.121
language_data==1.2.0
lark==1.1.9
libmambapy @ file:///C:/b/abs_f0tnqlkcbn/croot/mamba-split_1685993165748/work/libmambapy
llama-index==0.10.27
llama-index-agent-openai==0.2.2
llama-index-cli==0.1.11
llama-index-core==0.10.27
llama-index-embeddings-ollama==0.1.2
llama-index-embeddings-openai==0.1.7
llama-index-indices-managed-llama-cloud==0.1.5
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.14
llama-index-multi-modal-llms-openai==0.1.4
llama-index-program-openai==0.1.5
llama-index-question-gen-openai==0.1.3
llama-index-readers-elasticsearch==0.1.3
llama-index-readers-file==0.1.13
llama-index-readers-llama-parse==0.1.4
llama-index-vector-stores-opensearch==0.1.8
llama-parse==0.4.0
llamaindex-py-client==0.1.16
lxml==5.1.0
Mako==1.3.5
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.1
matplotlib-inline==0.1.7
mdurl==0.1.2
menuinst @ file:///C:/ci_311/menuinst_1678730372782/work
mistune==3.0.2
mkl==2021.4.0
mmh3==4.1.0
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msal==1.28.0
msal-extensions==1.1.0
msoffcrypto-tool==5.4.2
msrest==0.7.1
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
mysql-connector-python==8.3.0
mysqlclient==2.2.4
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
oletools==0.60.2
onnxruntime==1.19.2
open-webui==0.3.21
openai==1.30.1
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opensearch-py==2.5.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
orderly-set==5.2.2
orjson==3.10.0
oscrypto==1.3.0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
passlib==1.7.4
pathspec==0.12.1
pcodedmp==1.2.6
pdf2image==1.17.0
pdfkit==1.0.0
peewee==3.17.6
peewee-migrate==1.12.2
peft==0.7.0
Pillow==9.4.0
pinecone-client==4.1.0
platformdirs==3.11.0
pluggy==1.5.0
portalocker==2.8.2
posthog==3.6.6
preshed==3.0.9
primp==0.6.2
prometheus_client==0.21.0
prompt_toolkit==3.0.48
promptflow==1.10.1
promptflow-azure==1.10.1
promptflow-core==1.10.1
promptflow-devkit==1.10.1
promptflow-tools==1.4.0
promptflow-tracing==1.10.1
propcache==0.2.0
proto-plus==1.23.0
protobuf==4.25.3
psutil==6.0.0
psycopg2==2.9.5
psycopg2-binary==2.9.9
pure_eval==0.2.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyclipper==1.3.0.post5
pycosat @ file:///C:/ci_311/pycosat_1676438455539/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.7.1
pydantic_core==2.18.2
pydash==7.0.7
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.16.1
pyHanko==0.23.2
pyhanko-certvalidator==0.26.3
PyJWT==2.8.0
pymongo==4.8.0
PyMuPDF==1.24.1
PyMuPDFb==1.24.1
PyMySQL==1.1.1
pyngrok==7.2.1
pyOpenSSL @ file:///C:/b/abs_de215ipd18/croot/pyopenssl_1678965319166/work
pypandoc==1.13
pyparsing==3.1.2
pypdf==4.2.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.1.0
pyreadline3==3.5.2
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
pytesseract==0.3.10
pytest==8.2.2
pytest-docker==3.1.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.9.1
python-http-client==3.3.7
python-iso639==2024.4.27
python-jose==3.3.0
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
python-oxmsg==0.0.1
python-pptx==1.0.0
python-socketio==5.11.3
pytube==15.0.0
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.14
pyxlsb==1.0.10
PyYAML==6.0.1
pyzmq==26.2.0
qrcode==7.4.2
rank-bm25==0.2.2
rapidfuzz==3.9.7
rapidocr-onnxruntime==1.3.24
red-black-tree-mod==1.20
redis==5.0.8
referencing==0.35.1
regex==2024.5.15
reportlab==4.2.0
requests==2.32.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rpds-py==0.18.1
rsa==4.9
RTFDE==0.1.2
ruamel.yaml @ file:///C:/ci_311/ruamel.yaml_1676439214109/work
s3transfer==0.10.0
safetensors==0.4.3
scikit-learn==1.5.2
scipy==1.14.1
Send2Trash==1.8.3
sendgrid==6.11.0
sentence-transformers==3.0.1
shapely==2.0.2
shellingham==1.5.4
simple-websocket==1.0.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.30
sqlparse==0.4.3
srsly==2.4.8
stack-data==0.6.3
starkbank-ecdsa==2.2.0
starlette==0.37.2
strictyaml==1.7.3
striprtf==0.0.26
svglib==1.5.1
sympy==1.12
tabulate==0.9.0
tbb==2021.12.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
terminado==0.18.1
tesseract==0.1.3
textblob==0.18.0.post0
thinc==8.3.2
threadpoolctl==3.5.0
tifffile==2023.12.9
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.19.1
toolz @ file:///C:/ci_311/toolz_1676431406517/work
torch==2.3.0
torchvision==0.18.0
tornado==6.4.2
tqdm==4.66.4
traitlets==5.14.3
transformers==4.40.2
typer==0.12.3
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2022.7
tzlocal==5.2
ujson==5.10.0
unstructured==0.15.9
unstructured-client==0.25.8
uri-template==1.3.0
uritemplate==4.1.1
uritools==4.0.2
urllib3==2.2.1
uvicorn==0.30.6
validate-email==1.3
validators==0.33.0
virtualenv==20.24.5
virtualenvwrapper-win==1.2.7
waitress==2.1.2
wasabi==1.1.3
watchfiles==0.21.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wget==3.2
widgetsnbextension==4.0.13
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
win-unicode-console==0.5
wrapt==1.16.0
wsproto==1.2.0
xhtml2pdf==0.2.15
xlrd==2.0.1
XlsxWriter==3.2.0
yarl==1.18.0
youtube-transcript-api==0.6.2
zipp==3.18.1
zstandard==0.19.0
